/* цвет основного текста и иконок #212121 */
/* вторичный цвет текста #757575 */
/* цвет accent #2196F3 */
/* вторичный цвет фона #F5F4FA */
/* основной цвет фона #fffff */
/* цвет svg основной #AFB1B8 */
/* цвет фона подписей картинок rgba(47, 48, 58, 0.8) */
/* цвет фона футера #2F303A */
/* цвет ссылок футера rgba(255, 255, 255, 0.6) */
/* цвет подписи rgba(255, 255, 255, 0.4) */

:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
}

body {
    background-color: var(--primary-white-color);
    color: #212121;

    font-family: Roboto, sans-serif;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Основные заголовки цвет */
.section-title {
    color: var(--primary-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

/* хедер */
.site-nav .link {
    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.container {
margin-left: auto;
margin-right: auto;
width: 1230px;
padding-right: 15px;
padding-left: 15px;
outline: 2px solid tomato;
}

.contacts-link {
    color: var(--secondary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color);
}

/* Герой */
.hero {
    text-align: center;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 46px;

    color: var(--primary-white-color);
    background-color: #cccccc;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* кнопка */
.button {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    border: solid 1px var(--accent-color);
    min-width: 200px;
    text-align: center;
    margin-bottom: 200px;

    color: var(--primary-white-color);
    background-color: var(--accent-color);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-decoration: none;
}

/* преимущества */
.section-title {
    margin-top: 0;
    margin-bottom: 0;
}

.feature-list {
    padding-top: 94px;
}

.feature-list .title {
    margin-top: 0;
    margin-bottom: 0;

    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.feature-list .subtitle {
    margin-top: 0;
    margin-bottom: 0;

    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* Чем занимаемся */
.work-list .title {
    margin-top: 0;
    margin-bottom: 0;
    
    color: var(--primary-white-color);
    background-color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.section-title.work {
    margin-bottom: 50px;
}


/* команда */
.team-section {
    background-color: #F5F4FA;
}

.team-section .section-title {
    margin-bottom: 50px;
}

.team-list .title{
    margin-top: 0;
    margin-bottom: 0;
    
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.team-list .subtitle {
    margin-top: 0;
    margin-bottom: 0;

    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

/* футер */
.footer {
    background-color: #2F303A;
}
.footer-address {
    color: var(--primary-white-color);

    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-title {
    color: var(--primary-white-color);

    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-link {
    color: rgba(255, 255, 255, 0.6);

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.copy {
    color: rgba(255, 255, 255, 0.4);

    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    text-align: center;
    letter-spacing: 0.03em;
}

/* Портфолио */
/* Button */
button {
    background-color: #F5F4FA;
    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1,6;
    text-align: center;
    letter-spacing: 0.03em;
    text-decoration: none;
}

button:hover,
button:focus {
    background-color: var(--accent-color);
}

/* Галерея */
.prodject-list .prodject-title {
    color: var(--primary-text-color);

    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.prodject-list .subtitle {
    color: var(--secondary-text-color);

    font-weight: normal;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}

.prodject-list .text {
    color: var(--secondary-text-color);

    font-weight: normal;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
}

.prodject-list .link {
    text-decoration: none;
}